<!DOCTYPE html>
<html lang="ca">
<head>
    {{> header}}
    <title>Cartellera</title>
</head>
<body>
    {{> menu}}
    
    <main>
        <h1>Cartellera</h1>
        <section>
            <h2>Pelicules</h2>
            <div class="peliculas">
                {{#each movies}}
                <div class="tarjeta-peliculas">
                    <img src="/imatges/{{film_id}}.png">
                    <div class="contenido-peliculas">
                        <h3>{{title}}</h3>
                        <ul class="detalles-pelicula">
                            <li><strong>Año</strong>: {{release_year}}</li>
                            <li><strong>Actors</strong>: {{actors}}</li>
                        </ul>
                    </div>
                </div>          
                {{/each}}
            </div>
        </section>
        <section class="categorias">
            <h2>Categories</h2>
            <ul class="lista-categorias">
                {{#each categorys}}
                <li class="tarjeta-categoria">{{name}}</li>
                {{/each}}
            </ul>
        </section>
    </main>

    {{> footer}}
</body>
</html>